---
---
<section class="py-6">
  <h3 class="text-2xl font-semibold">Programa del Día</h3>
  <p class="mt-2"><strong>3:00 PM:</strong> Comida - Av. Juárez #4</p>
  <p><strong>6:30 PM:</strong> Sacada de la Novia - Calle Abasolo #7</p>
</section>
