---
import "../styles/style.css"; // Ensure this path is correct based on your project structure

const { children } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Invitación de Boda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bentham&family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
  <body class="bg-neutral-50 text-gray-800 relative overflow-x-hidden">
    <img
      src="/assets/floral-bg.png"
      alt="Decoración floral"
      class="absolute top-0 left-0 w-full h-full object-cover opacity-20 pointer-events-none -z-10"
    />
    <main class="px-4 sm:px-6 md:px-8 max-w-3xl mx-auto text-center">
      {children}
      <slot />
    </main>
  </body>
</html>
