---
const { children } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Invitación de Boda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-neutral-50 text-gray-800 relative overflow-x-hidden">
    <img
      src="/assets/floral-bg.png"
      alt="Decoración floral"
      class="absolute top-0 left-0 w-full h-full object-cover opacity-20 pointer-events-none -z-10"
    />
    <main class="px-4 sm:px-6 md:px-8 max-w-3xl mx-auto text-center">
      {children}
      <slot />
    </main>
  </body>
</html>
